@model IEnumerable<Triggmine.Report.Scheduler.Models.Customer>

@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspProvider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspEmailFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EspNameFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopCurrency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndustryUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShopAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAiEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFbIntegrated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeedNotification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerUid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSingInDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspProvider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspEmailFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspNameFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopCurrency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustryUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLocked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAiEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFbIntegrated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeedNotification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerUid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSingInDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
